body {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

h1 {
    /* border: 1px solid red; */
    margin-top: 0;
    font-size: xx-large;
}

main {
    
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
    border: aliceblue;
    border-radius: 10px;
    padding-bottom: 10px;
}

ul li {
    text-align: left;
    /* border: 1px solid red; */
    margin-bottom: 15px;
}

footer {
    /* border: 1px solid purple; */
    background-color: rgb(226, 228, 228);
    text-align: center;
    margin: 0;
    padding: 15px 0;
}

.quotes p {
    font-style: italic;
}

img {
    width: 100%;
}